.name {
    display: flex;
    align-self: center;
    font-size: 40px;
    font-weight: 300;
    position: relative;
}

.name::after {
    content: '';
    bottom: 0;
    left: 0;
    height: 1.5px;
    background-color: #772953;
    position: absolute;
    width: 100%;
}
