.wrapper {
    border-radius: 15px;
    height: 500px;
    margin: 10px;
    background-color: #ffffff;
    box-shadow: #9fb2b5 10px 10px 40px;

}

.name {
    font-size: 20px;
    font-weight: 300;
    position: relative;
}

.name::after {
    content: '';
    bottom: 0;
    left: 0;
    height: 1.5px;
    background-color: #6964ff;
    position: absolute;
    width: 100px;
}
