.wrapper{
    box-shadow: #9fb2b5 10px 10px 40px;
    margin: 20px;
    width: content-box;
}

.title{
    color: black;
    font-size: 30px;
    text-decoration: none;
    position: relative;
}

.title::before{
    content: '';
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #772953;
    transform: scaleX(0);
    transition: 0.2s;
}

.title:hover:before{
    transform: scaleX(1);
}


