.bars-wrapper {
    width: 20%;
    background-color: #fde8d3;
}


.bars-header {
    height: 30px;
    box-sizing: border-box;
}

.bars-header {

}

.bars-wrapper li{
    list-style: none;
}

.bars-wrapper a{
    text-decoration: none;
    position: relative;
    color: #000;
}

.bars-wrapper a::before{
    content: '';
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #3b6503;
    transition: 0.2s;
    transform: scaleX(0);
}

.bars-wrapper a:hover:before{
    transform: scaleX(1);
}
